@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


html {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    }

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #2c2c2c, #fff, #fff, #060606);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
    text-align: center;
    padding: 50 0 20px 0;
    font-size: 5rem;
    text-shadow: 0px 0px  10px #fff;
}

.image {
  max-width: 10em;
  max-height: 14em;
  object-fit: fill;
  background-color: #fff;
  opacity: 0;
}


.text {
    position: relative;
    text-align: center;
    font-size: 2rem;
    padding: 0 0 20px 0;
}

.card_container {
  background-color: rgb(100, 100, 100);
  display: inline-grid;
  grid-template: repeat(2, 14em) / repeat(5, 10em);
  gap: 20px;
  box-shadow: 0 0 30px #fff;
  padding: 20px;
}



.time {
    padding: 30px 0 0 0;
    color: #fff
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/leaf_back.jpg");
  object-fit:inherit;
  background-color: #fff;
  
}
